@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Olvidaste tu contraseña?";
    Layout = "~/Pages/Shared/_LayoutRegistro.cshtml";
}

<main class="main-register">
    <div class="row justify-content-center w-100 mb-4" style="height: 90vh;">
        <div class="col-sm-9 d-flex flex-column align-items-center justify-content-center" style="height: 100vh; width: 75%;">
            <h4>Ingresa tu email.</h4>
                <form method="post" style="width: 50%;">
                    <input asp-for="Input.Email" class="campo-email" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                    <button type="submit" class="boton-forgot">Enviar</button>
                    <br>
                    <a asp-area="Identity" asp-page="/Account/Login" class="logout-enlaces">Volver</a>
                </form>
        </div>
    </div>
</main>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
