@page
@model LoginModel

@{
    ViewData["Title"] = "Login";
    Layout = "~/Pages/Shared/_LayoutRegistro.cshtml";
}

<main class="main-login text-center">
    <div class="row justify-content-center w-100" style="height: 80vh;">
        <div class="col-sm-4 text-center d-flex flex-column align-items-center justify-content-center" style="height: 100vh;">
            <form id="account" method="post" class="d-flex flex-column align-items-center p-4 w-100 mb-2" style="height: 60vh; opacity: .9;
             box-shadow: 3px 3px 8px rgba(0,0,0,.7); background: rgb(71, 58, 58);">
                <h4 class="text-light p-2 font-weight-bold mt-3">Login</h4>

                <input asp-for="Input.Email" class="w-100 p-3 m-2 border-0 rounded text-center" type="text" placeholder="Ingrese su usuario"/>
                <span asp-validation-for="Input.Email" class="text-danger"></span>

                <input asp-for="Input.Password" class="w-100 p-3 m-2 border-0 rounded text-center" type="password" placeholder="Contraseña"/>
                <span asp-validation-for="Input.Password" class="text-danger"></span>

                <a id="forgot-password" asp-page="./ForgotPassword" class="p-2 text-decoration-none" style="color: #E3F3D5;">¿Recuperar contraseña?</a>

                <input class="boton-login p-3 w-75 mt-3 rounded border-0 text-light font-weight-bold" type="submit" value="Ingresar">         
            </form>
            <div>
                <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl" class="enlaces" style="color: green; padding: 15px;">Registrate</a>
                <br><a asp-area="" asp-page="/LandingPage" style="color: green;" class="enlaces">Saber más</a>
            </div> 
        </div>
    </div>
</main>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
