@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Confirmacion de registro";
    Layout = "~/Pages/Shared/_LayoutRegistro.cshtml";
}

<main class="main-register">
    <div class="row justify-content-center w-100 mb-4" style="height: 90vh;">
        <div class="col-sm-4 d-flex flex-column align-items-center justify-content-center" style="height: 100vh;">
            @{
                if (@Model.DisplayConfirmAccountLink)
                {
            <h2>
                <a class="registroconfirm-enlace" id="confirm-link" href="@Model.EmailConfirmationUrl">Click aquí para confirmar tu cuenta.</a>
            </h2>
                }
                else
                {
            <p>
                    Please check your email to confirm your account.
            </p>
                }
            }
        </div>
    </div>
</main>
