@page
@model crearSemilleroModel
@{
    ViewData["Title"] = "Creación de Semillero";
}
<h1>@ViewData["Title"]</h1>


<div class="container">


<div class="card col-6 " >
  <img class="card-img-top"  src="https://images.squarespace-cdn.com/content/52d634b1e4b0876636f82abb/1542210895319-8DF042499CH2DZTF2TQM/instituto-de-idiomas-universidad-santiago-de-cali-escuela-de-idiomas-cali-logo.png?content-type=image%2Fpng" alt="Card image cap">
  <div class="card-body">
    

      <form method="post">
        <div asp-validation-summary="All"  class="text-danger" >
            <div class="container" >

                <div class="form-group ">
                    <div class="row">
                        <div class="col-sm-2 text-dark">
                            <label asp-for="Semillero.nombreSemillero"></label>
                        </div>
                        <div class="col-sm-6">
                            <input asp-for="Semillero.nombreSemillero" class="form-control form-control-lg">
                            
                        </div>
                        <span asp-validation-for="Semillero.nombreSemillero" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-2 text-dark">
                            <label asp-for="Semillero.descripcionSemillero"></label>
                        </div>
                        <div class="col-sm-6">
                            <input asp-for="Semillero.descripcionSemillero" class="form-control form-control-lg">
                            
                        </div>
                        <span asp-validation-for="Semillero.descripcionSemillero" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-2 text-dark">
                            <label asp-for="Semillero.necesidadesSemillero"></label>
                        </div>
                        <div class="col-sm-6">
                            <input asp-for="Semillero.necesidadesSemillero" class="form-control form-control-lg ">
                            
                        </div>
                        <span asp-validation-for="Semillero.necesidadesSemillero" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-12 offset-sm-12">
                            <input type="submit" value="Crear Semillero" class="btn btn-success form-control">
                        </div>
                        <div class="col-sm-2">
                            
                            
                        </div>
                        
                    </div>
                </div>

            </div>
        </div>

    </form>


  </div>
</div>



</div>



