@page
@model crearSemilleroModel

@{
    ViewData["Title"] = "Crear Semillero";
    Layout = "~/Pages/Shared/_LayoutRegistro.cshtml";
}

<div class="titulo-form">
    <div></div>
    <h1>Ingrese un semillero</h1>
    <a asp-area="" asp-page="/Index">Regresar</a>
</div>

<div class="main-form">
    <div class="crear-centrar">    
        <form method="post" class="form-semillero">
            
            <input asp-for="Semillero.nombreSemillero" class="input" type="text" placeholder="Nombre del semillero">
            <span asp-validation-for="Semillero.nombreSemillero" class="text-danger"></span>
            
            <input asp-for="Semillero.descripcionSemillero" type="text" class="input" placeholder="Descripcion del semillero">
            <span asp-validation-for="Semillero.descripcionSemillero" class="text-danger"></span>
            
            <input asp-for="Semillero.necesidadesSemillero" type="text" class="input" placeholder="Temas de investigación">
            <span asp-validation-for="Semillero.necesidadesSemillero" class="text-danger"></span>

            <input class="boton" type="submit" value="Crear Semillero">
        </form>
    </div>
</div>
<footer class="footer">
    <span>2020 todos los derechos reservados</span>
</footer>

<script>
    window.sr = ScrollReveal();

    sr.reveal('.boton', {
        duration: 2000,
        origin: 'bottom',
        distance: '20px'
    });
</script>
