@page
@model datosEstudianteModel
@{
    Layout = "~/Pages/Shared/_LayoutRegistro.cshtml";
    ViewData["Title"] = "Perfil";

}
    
<nav class="profile-nav">
    <div></div>
    <h1>Editar Perfil</h1>
    <div>
        <a asp-area="" asp-page="/Index">Regresar</a>
    </div>
</nav>
<div class="profile">
    <form method="post" class="centrar1">
        <div class="profile-main">
            <div class="profile-centrar">
                <div class="profile-main-info">
                    <span>Nombre:</span>
                    <span>Programa:</span>
                    <span>Semestre Actual:</span>
                    <span>Celular:</span>
                    <span>Codigo:</span>
                    <span>Correo electronico:</span>
                </div>
    
                <div class="profile-main-datos">
                    <input asp-for="Estudiante.nombreEstudiante" type="text" placeholder="nombre estudiante">
                    <input asp-for="Estudiante.carreraEstudiante" type="text" placeholder="carrera del estudiante">
                    <input asp-for="Estudiante.semestreEstudiante" type="number" min="1" placeholder="semestre del estudiante">
                    <input asp-for="Estudiante.numeroEstudiante" type="number" placeholder="numero del estudiante">
                    <input asp-for="Estudiante.cedulaEstudiante" type="number" placeholder="cedula del estudiante">
                    <input type="hidden" asp-for="Estudiante.correoEstudiante" value="@User.Identity.Name" type="text" disabled>
                </div>
            </div>
        </div>
        <button type="submit" class="guardarcambios">Guardar Cambios</button>
    </form>
</div>
    <footer class="footer">
        <span>2020 todos los derechos reservados</span>
    </footer>

    <script>
        window.sr = ScrollReveal();

        sr.reveal('img', {
            duration: 1500,
        });

        sr.reveal('.guardarcambios', {
            duration: 2000,
            origin: 'bottom',
            distance: '20px'
        });
    </script>




