@page
@model EditModel
@{
    ViewData["Title"] = "EditarSemillero";
    Layout = "~/Pages/Shared/_LayoutRegistro.cshtml";
}

<nav class="unirme-nav">
    <div></div>
    <h1>Editar Semillero</h1>
    <div>
        <a asp-area="" asp-page="/Acciones">Regresar</a>
    </div>
</nav>

    <div class="main-form">
    <div class="crear-centrar">    
        <form method="post" class="form-semillero">

            <input type="hidden" asp-for="Semillero.idSemillero" >

            <input asp-for="Semillero.nombreSemillero" class="input" placeholder="Nombre del semillero">
            <span asp-validation-for="Semillero.nombreSemillero" class="text-danger"></span>

            <input asp-for="Semillero.descripcionSemillero" class="input" placeholder="Descripcion del semillero">
            <span asp-validation-for="Semillero.descripcionSemillero" class="text-danger"></span>

            <input asp-for="Semillero.necesidadesSemillero" class="input" placeholder="Temas de investigación">
            <span asp-validation-for="Semillero.necesidadesSemillero" class="text-danger"></span>
                    
            <input type="submit" value="Guardar Cambios" class="boton-unirme">
        </form>
    </div>
</div>
    

<footer class="footer">
    <span>2020 todos los derechos reservados</span>
</footer>

<script>
    window.sr = ScrollReveal();

    sr.reveal('.boton-unirme', {
        duration: 1500,
        origin: 'bottom',
        distance: '40px'
    });
</script>

<!-- FALTA ALGO DEL TUTORIAL [8] MINUTO 6:00 -->