@page
@model PrivacyModel
@{
    ViewData["Title"] = "Bienvenidos y Bienvenidas";
}
<!-- <h1>@ViewData["Title"]</h1>  -->



<img src="https://aulasvirtuales.usc.edu.co/images/Aulas%20Virtuales/cabezoteaulasvirtualesusc.png"  class="img-fluid">







